*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.header{
    padding-top: 20px;

}
.container button{
    cursor: pointer;
}
.popup{
    width: 30%;
    z-index: 2;
    position: absolute;
    padding: 15px 31px 25px 22px;
    border-radius: 20px;
    display: none;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    top: 77px;
    right: 240px;
}
.popup span{
    color: #00C97B;
}
.popup form{
    margin-top: 20px;
}
.popup h4{
    margin-top: 15px;
}
.popup input{
    width: 90%;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 0;
}
.popup p{
    color: white;
    margin-top: 20px;
}
.pop-up-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.pop-up-bottom-right{
    display: flex;
    align-items: center;
    column-gap: 10px;

}
.pop-up-bottom button{
    color: white;
    background-color: #00C97B;
    padding: 15px 55px;
    border: none;
    border-radius: 20px;
}
.popup.active{
    display: block;
}
.pop-img{
    margin: 0 40px 0 0;
}
.btn-show{
    border: none;
    background: none;
    font-size: 11px;
    width: 10%;
    margin-left: -15px;
}
.container{
    width: 840px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 0  0 20px 0;
    font-size: 10px;


}
.container a{
    color: black;
    text-decoration: none;
}
.container a:hover{
    font-size: 13px;
    cursor: pointer;

}
.header-top-main{

}

.header-top-mid-ul{
    display: flex;
    column-gap: 20px;
    margin-left: -30px;
}
/*.header-top-mid{*/
/*    margin: 0 ;*/
/*}*/
.header-top-mid-ul li{
    list-style: none;
}
.header-top-left img{
    width: 70%;
}
.header-right{
    display: flex;
    column-gap: 15px;
    align-items: center;

}
.header-top-right-button{
    color: white;
    background: #00C97B;
    border: none;
    border-radius: 20px;
    padding: 10px 0 ;
    font-size: 11px;
    width: 130px;

}
.header-right h6{
    font-size: 11px;
    margin-left: -15px;
}
.header-main{
    color: white;
    margin: 15px -40px 0 -40px;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 20px;
    padding: 20px 0 60px 60px;
    text-align: left;

}
.header-main h2{
    margin-top: 20px;
}
.header-main h3{
    margin-top: 15px;
}
.header-main button{
    background-color: #00C97B;
    border: none;
    border-radius: 20px;
    padding: 15px 35px;
    margin-top: 25px;
    color: white;
}
.sec-card-left{
    width: 50%;
}
.sec-card-left img{
    width: 90%;
}
.sec strong{
    color: black;
    font-size: 14px;

}
.sec{
    padding-top: 100px;
}
.sec-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    column-gap: 15px;
    padding-right:20px ;
    margin-top: 20px;
}
.sec-grey-span{
    color: grey;
}
.sec p{
    color: grey;
    margin-top: 10px;
    font-size: 13px;
}
.sec-card-right{
    width: 50%;
}
.sec span{
    color: #00C97B;
    font-size: 13px;
}
.sec-card h5{
    margin-top: 10px;
}
.sec-main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.sec{
    padding-bottom: 100px;
}
.sec_2{
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    padding: 45px 50px;
    color: white;
    border-radius: 25px;
}
.sec_2 a{
    color: white;
    text-decoration: none;
}
.sec_2 a:hover{
    color: crimson;
    font-size: 20px;
}
.sec_2-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.media{
    display: flex;
    align-items: center;
    column-gap: 3px;
}
.media img{
    width: 20%;
}
.footer{
    padding: 25px 0 15px 0;
}
.foot-main{
    display: flex;

    justify-content: start;

    column-gap: 35px;
    text-align: center;
}
.foot-main li{
    list-style: none;
    margin-top: 7px;
}
.footer p{
    color: grey;
    font-size: 12px;
}
.medias{
    display: flex;
    align-items: center;
    column-gap: 3px;
    margin-top: 10px;
}
.fot-card{
    text-align: left;
}
.fot-card img{
    width: 50%;
}
.medias img{
    width: 20%;
}
.fot-bottom{
    margin-left: 35%;
    margin-top: 20px;
}
.footer hr{
    margin-top: 25px;
}